p{
    font-family: Dosis, sans-serif;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
    list-style: none;
    width: 100%;
    height: 40px;
    background-color: #4365d3;
}
.hamburger{
    height:35px ;
}
.logo{
    height:38px;
}
.cart{
    height:40px;
}